body{
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#game-board{
    background-color: wheat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.square{
    background-color: red;
    width: 100%;
    padding-bottom: 35%;
    padding-top: 35%;
    position: relative; /* If you want text inside of it */
    text-align: center;
    font-size: x-large;
}

#left-column,
#right-column{
    text-align: center;
}
